<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database.Properties.Settings.Constring" connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=goodboysplus1;Persist Security Info=True;User ID=goodboysplus1;Password=Fm8Bw5a!_Yz5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>