<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.ConnectionStringDropdown"
            connectionString="Data Source=den1.mssql8.gear.host;Persist Security Info=True;User ID=goodboysplus1v2;Password=Kr995B7kts!_"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>