<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Unit_Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Unit_Testing.Properties.Settings.ConnString" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=goodboysplus1v2;Persist Security Info=True;User ID=goodboysplus1v2;Password=Kr995B7kts!_"
            providerName="" />
    </connectionStrings>
    <userSettings>
        <Unit_Testing.Properties.Settings>
            <setting name="settingnew" serializeAs="String">
                <value />
            </setting>
        </Unit_Testing.Properties.Settings>
    </userSettings>
</configuration>